{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
            <section class="portfolio-section">
                <h2 class="section-title">PORTFOLIO</h2>
                
                <div class="portfolio-wrapper">
                    {% for row in projects %}
                    <figure class="portfolio-item hover-box">
                        <img src="{{row.image.url}}" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">{{row.title}}</h5>
                            <p class="portfolio-item-description">{{row.description}}</p>
                        </figcaption>
                    </figure>
                    {% endfor %}
               </div>
            </section>
            <footer>Live Resume @ <a href="https://www.bootstrapdash.com" target="_blank" rel="noopener noreferrer">BootstrapDash</a>. All Rights Reserved 2020</footer>
        </main>
        {% endblock %}